%h3 Analytics Dashboard
- @users.each do |user|
  %p
    User: #{link_to user.name, user}

.droppable.connectedSortable{:name => "list-a"}
  .task-wrapper
    #total_monthly_usage
.droppable.connectedSortable{:name => "list-b"}
  .task-wrapper
    #total_monthly_usage_costs

#internet_data_usage_charts


